body {
  background-color: #dbe2ef;
  font-family: "Lato", sans-serif;
  margin: 0;
}

h1 {
  font-size: 5vh;
  color: #112d4e;
  font-family: inherit;
  text-align: center;
}

.int{
  font-size: 3vh;
  text-align: center;
  padding: 20px 30px;
  margin-top: 20vh;
}


#Introduksjon {
    display: block;
}

#Oversikt {
  display: none;
}

#Detaljer {
  display: none;
}

#Sammenligning{
  display: none;
  text-align: center;
}

#tableHide{
  display: block;
}

/*links*/

.link a:hover{
  color: black;
  transition: 0.3s;
}

/*button for nav*/
span {
    display: block;
    width: auto;
    height: auto;
    padding:10px;
    color: black;
    background-color: inherit;
    cursor:pointer;
    font-size: 3vh;
}

#searchbar{
  text-align: center;
}

/**navigator**/
.mySidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  background-color: black;
}

.mySidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 2.5vh;
  color: white;
  display: block;
  transition: 0.3s;
  padding: 12px;
}

.mySidenav a:hover{
  color: darkgrey;
}

.mySidenav .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main{
  transition: margin-left 0.5s;
  padding: 20px;
}

#bottom {
  position: absolute;
  bottom: 2vh;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
}

#detaljer_input{
  width: 60%;
  padding: 12px 20px 12px 40px;
  border: 1px solid black;
  text-align: center;
}
#detaljer_search{
  height: auto;
}

#tableHide{
  display: none;
}

table.tables{
  margin-left: auto;
  margin-right: auto;
}

.tables {
  border: 1px solid black;
  width: 100%;
  font-size: 16px;
}

.tables th, .tables td{
  text-align: left;
}

.info, .output {
  width: auto;
  border: 1px solid black;
  padding: 5px;
  border-right: none;
  border-left: none;
}

td, th{
  font-size: 16px;
  padding: 5px;
}

#table_sammenligning_hide{
  display: none;
}

#sammenligning_input_1{
  text-align: center;
}

#sammenligning_input_2{
  text-align: center;
}

#sammenligning_table_1_big, #sammenligning_table_2_big{
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
}

#sammenligning_table_1_big{
  float: left;
  margin-left: 12vw;
}

#sammenligning_table_2_big{
  margin-right: 12vw;
  float: right;
}

#sammenligning_table_1_small{
  border: 1px solid black;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

#sammenligning_table_2_small{
  border: 1px solid black;
}

@media only screen and (min-width: 961px){
  #sammenligning_table_1_small{
    display: none;
  }

  #sammenligning_table_2_small{
    display: none;
  }

  #small_table table{
    display: none;
  }
}

/*mobil og tablet mode*/
@media only screen and (max-width: 960px) {

  .mySidenav{
    font-size: 2vh;
    padding-top: 40px;
  }
  .mySidenav a{
    font-size: 18px;
  }
  span{
    font-size: 2.1vh;
    width: auto;
  }
  .int{
    font-size: 16px;
  }

  #detaljer_table{
  width: 100%;
  font-size: 12px;
}

#detaljer_input{
  width: 100%;
  font-size: 10px;
  padding: 12px 20px 12px 40px;
  border: 1px solid black;
  margin: 20px;
}

  #sammenligning_table_1_big{
    display: none;
  }

  #sammenligning_table_2_big{
    display: none;
  }

  #small_table table{
    width: 100%;
    border: 1px solid black;
    margin-bottom: 5vh;
  }

  #small_table th{
    border: 1px solid black;
    border-right: none;
    border-left: none;
    font-size: 13px;
  }

  #small_table td{
    border: 1px solid black;
    border-right: none;
    border-left: none;
    font-size: 16px;
  }
}
