body {
  background-color: #dbe2ef;
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 5vh;
  color: #112d4e;
  font-family: inherit;
  text-align: center;
}

.int{
  font-size: 3vh;
  text-align: center;
  padding: 20px 30px;
  margin-top: 20vh;
}

#Introduksjon {
    display: block;
}

#Oversikt {
  text-align: center;
  display: none;
}

#Detaljer {
  text-align: center;
  display: none;
}

#detaljer_input {
  width: 10vw;
  height: 5vh;
  text-align: center;
  font-size: 2vh;
  margin-bottom: 5vh;
}

table.tables{
  margin-left: auto;
  margin-right: auto;
}

.tables {
  border: 1px solid black;
}

.info {
  border: 1px solid black;
  padding: 10px;
  padding-right: 50px;
}

#Sammenligning{
  text-align: center;
  display: none;
}

/*links*/

.link a:hover{
  color: black;
  transition: 0.3s;
}

/*button for nav*/
span {
    display: block;
    width: auto;
    height: auto;
    padding:10px;
    color: black;
    background-color: inherit;
    cursor:pointer;
    font-size: 3vh;
}

/**navigator**/
.mySidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  background-color: black;
}

.mySidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 2.5vh;
  color: white;
  display: block;
  transition: 0.3s;
  padding: 12px;
}

.mySidenav a:hover{
  color: darkgrey;
}

.mySidenav .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main{
  transition: margin-left 0.5s;
  padding: 20px;
}

#bottom {
  position: absolute;
  bottom: 2vh;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
}

/*mobil og tablet mode*/
@media only screen and (max-width: 960px) {
  .mySidenav{
    font-size: 2vh;
    padding-top: 40px;
  }
  .mySidenav a{
    font-size: 18px;
  }
  span{
    font-size: 2.1vh;
    width: auto;
  }
  .int{
    font-size: 16px;
  }
}
